/*-This file contains styles for the Introduction component */
#introduction {
  margin-top: 20px;
}

.tags-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.image-container img {
  border: 1px solid #e0e0e0;
  transition: transform 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .two-column {
    display: flex;
    flex-direction: column;
  }
  
  .image-container {
    order: -1;
    margin-bottom: 20px;
  }
}


#introduction {
  margin-top: 20px;
}

.tags-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.image-container img {
  border: 1px solid #e0e0e0;
  transition: transform 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .two-column {
    display: flex;
    flex-direction: column;
  }
  
  .image-container {
    order: -1;
    margin-bottom: 20px;
  }
}
